{% extends "base.html" %}

{% block main %}
    <style type="text/css">
        .btn {
            font-size: 52px;

            margin-top: 20px;
        }
    </style>
    {% for cource in cources %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <a href="{% url 'pm.views.cource' cource.id %}" style="background-color:#{{ cource.bg_color }}; border-color:#{{ cource.bg_color }}; color:#{{ cource.title_color }}" class="btn btn-primary btn-lg btn-block">{{ cource.title }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
